@import '../Timeline.scss';


//********** Week Time **********//

.day-time{
    // border:1px solid blue;
    position: relative;
    padding: 0px 0px 0px 70px;

    .d-time{
        // border: 1px solid red;
        border-bottom:3px solid $grey;
        
        height: 100px;
    

        .dt-p{
            position: absolute;
            left: 0;
            bottom: -10px;
            font-size: 13px;
            
        }

        .dt-five{
            // border:1px solid green;
            width: 100%;
        }
       

    }

   

    
}


.day-time:nth-child(26){
    .d-time{
        border-bottom:none;
        // border: 1px solid orange;
        p{
            display: none;
        }
        
        
    }
}

.day-time:nth-child(1){
    // border: 1px solid red;
    
    padding-top: 10px;
    .d-time{
        // border: 1px solid red;
        border-bottom:3px solid $grey;
        height: 0px;
    }

    .dt-five{
        display: none;
    }
}

/* Large devices (landscape tablets, 610px and down) ************************************/
@media only screen and (max-width: 610px){

    .day-time{
       
        padding: 0px 0px 0px 45px !important;


        .dt-p{
           
            left: 0;
           
            font-size: 10px !important;
            
        }

}
}







// *************** Day five *******************
.day-five{
    height: 8.333px;
    width: 100%;
    display: block;
    // border-bottom: 1px solid black;
    position: relative;
    z-index: 0;
}